
body {
    background-color: #e5e5e5 !important;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    border: none;
    min-width: 250px;
    width:100%; 
    font-size: 16px;   
}

@font-face{
  font-family: Rockwell;
  src: url("../fonts/ROCK.TTF") format("truetype");
}

@font-face{
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

.border-red {
    border: 3px solid red;
}
.border-blue {
    border: 3px solid blue;
}

* {
box-sizing:border-box
}

.container-fluid {
    max-width: 1920px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-color: #fff;
}

ul, a {
    list-style-type: none;
    text-decoration: none !important;
}

.row {
    margin: 0 !important;
}

img#ga-logo {
    width: 340px;   
    max-width: 100%;
    height: auto;
    max-height: 70%;
    margin: 20px auto;
    border: 0;
}

hr.rounded {
  border-top: 1px solid #707070;
  margin: 0 3em;
}

.navbar { 
    margin: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    background-color: #fff;
    text-align: center; 
}

ul.nav-text {
    text-align: center;
    text-decoration: none; 
    font-family: Rockwell;
    font-size: 20px;
    font-family: Lato;
}

.nav-text a,
.nav-text a:link,
.nav-text a:visited {
    color: #707070;
}

.nav-text a:active, 
.nav-text a:hover,
.nav-text a:focus {
    color: #E22727;
}

.nav-text li {
    display: inline-block;
    padding: 10px;
    text-decoration: none; 
}
/*<!-- homepage-website page start-->*/

.list-view-name {
    font-family: Rockwell;
    padding: 10px 0 0 0;
    font-size: 18px;
    color: #000;
    text-align: center;
}

.big-text {
    font-size: 22px;
}

.list-view-undertext {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.list-view-style {
    flex: 33%;
    text-align: center;
    padding: 20px;
}

.list-view-style img {
    max-width: 100%;
    height: auto;
    border: 1px solid #E0DEDD;
}

.row-ga {
  max-width: 1920px;
  height: auto;
  display: flex;
  display: -ms-flexbox; /* IE10 */
  flex-wrap: wrap;
  padding: 27px;
}

.hamburger-menu {
    display: none;
}

/*<!-- homepage-website page end-->*/

/*<!-- footer start-->*/

#ga-footer {
    background-color: #E0DEDD;
    text-align: center;
    width: 100%;
    height: auto;
    font-family: Rockwell;
    font-size: 18px;
    padding: 16px 0 40px 0;
}

.footer-nav a:link,
.footer-nav a:visited {   
    
    color: #707070;
    text-decoration: none;    
    padding: 5px 13px; 
    font-weight: regular;
}

.footer-nav a:active,
.footer-nav a:hover {         
    color: #E22727;
    text-decoration: none;
}

ul.footer-nav {
    width: 100%;
    font-size: 18px;
    margin-top: 12px;
}

div.social-icons {
    display: inline-block;
    margin: 15px;
    vertical-align: middle;
}

.social-icons img {
    width: 35px;
    height: auto;
}

.footer-nav li {
    list-style: none;
    display: inline-block;    
}

#ga-footer span {
    width: 100%;
    font-size: 16px;
    color: #707070;
}

ul {
    -webkit-padding-start: 0px;
}

/*<!-- footer end! -->*/

/*<!-- about page start!-->*/

.photo-properties {
    padding: 20px 0 50px 80px;
    float: left;
    size: 100px;
}

.text-properties {
    float: left;
    max-width: 62%;
    font-size: 16px;
    margin: auto 0 auto 40px;
}

/*<!-- about page end!-->*/
/*<!-- contacts page start!-->*/

.aster {
    color: #cc0033;
    margin: 3px;
}

.form-bg {
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: auto;
    text-align: left;  
    padding: 27px;
}

.small-text {
    font-size: 14px;
    font-style: italic;
    margin: 10px 0;

}

.form-size {
    font-size: 13px;
    color: #707070;
    background-color: #fff;
    width: 100%;
    padding: 6px 12px;
    margin: 20px 0;
    line-height: 2.6;
    background-image: none;
    border: 1px solid #999;
    border-radius: 4px;
}

textarea.form-size {
    min-height: 150px;
    line-height: 1.6;
}

button#submit {
    width: 25%;
    height: 30px;
    font-family: Rockwell;
    font-size: 16px;
    color: white;
    background-color: #E22727;
    border-radius: 3px;
    border: none;
    margin: 30px 30px 30px 0;
}

a#visit {
    display: block;
    width: 72%;
    height: 30px;
    font-family: Rockwell;
    font-size: 16px;
    color: #fff;
    background-color: #E22727;
    border-radius: 3px;
    border: none;
    margin: 30px 30px 0 0;
    text-align: center;
    line-height: 1.7;  
}

a#visit:hover {
    background-color: #AB1B1B;
}

button#submit:hover {
    background-color: #AB1B1B;
}

button#cancel {
    width: 25%;
    height: 30px;
    font-family: Rockwell;
    font-size: 16px;
    color: white;
    background-color: #707070;
    border-radius: 3px;
    border: none;
    margin: 10px 0;
}

button#cancel:hover {
    background-color: #3E3A3A;
}

/*<!-- contacts page end !-->*/
/*<!-- works page start !-->*/

.description .list-view-name, 
.description .list-view-undertext {
    text-align: left;
}

.description {
    max-width: 25%;
    width: 100%;
    margin: 0 0 40px 70px;
    flex: 40%;
}

.description p {
    margin: 30px 0;
}

.description a,
.description a:visited {
    color: #404040;
}

.description a:hover {
    color: #E22727;
}

.works {
    flex: 60%;   
    text-align: center;
}

.carousel-inner .item .works-image {
    max-width: 500px;
    width: 100%;
    height: auto;
    vertical-align: middle;
    border: 1px solid #e0e0e0;
}

.works-arrows {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: 0;
}

.works-order {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.works-align {
    text-align: center;
    margin-top: 40px;
}

.mobile-show {
    display: none;
}

/*<!-- works page end !-->*/

.clear-float {
    clear: both;
    float: none;
}


@media only screen and (max-width: 768px) {
    
   #ga-logo {         
        display: block !important;
        margin: 20px auto !important;    
        clear: both !important;   
        float: none !important;
    }
    
    .row-ga {
        padding: 10px;
    }
    
    .nav-text li {
        clear: both;   
        float: none;
        text-align: center;
        display: block !important;
        margin: 0 auto !important;
        border: 1px solid #ccc !important;
        border-bottom: none !important;
    }
    
    .nav-text li:last-child {
        border-bottom: 1px solid #ccc !important;
    }
    
    .navbar-nav>li {
        float: none !important;
        text-align: center;
        display: block !important;
        margin: 0 auto !important;
    }
    
    .container-fluid {
        text-align: center;
        float: none !important;
    }
    
    ul.nav-text {
        clear:both;
        float: none;
        margin-top: 0 !important;
        padding: 0;
    }
    
    .list-view-style {
        flex: 50%;
        min-width: 226px;
        padding: 10px;
    }
  
    
/*    footer start */
/*    img.photo-properties {
        margin: 0 auto;
        padding: 33px;
        width: 100%;
        max-width: 250px;
}

    .text-properties {
        clear: both;
        padding: 0;
        margin: auto auto;   
    }        */
 /*    footer end */  

/*  contact start */

    .form-size {
        width: 100%;
}
    button#submit, 
    button#cancel {    
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 6px;
    }
 
/* contact end */ 
/* works start */ 

.description,
.description .list-view-name,
.description .list-view-undertext,
.works .list-view-name,
.works .list-view-undertext {
    max-width: 100%;
    text-align: center;
    margin: 5px 0;
    flex: 100%;
}

.works {
    width: 100%;
    flex: 100%;
}

a#visit {
    width: 100%;
    height: 50px;
    margin: 30px auto 0 auto;
    line-height: 2.8;
}

.carousel-inner .item .works-image {
    min-width: 230px;
    margin: 0 auto;
}

.description p {
    display: none;
}

div.mobile-arrows, 
.mobile-hide {
    display: none;
}

p.mobile-show,
.mobile-show {
    display: flex;
    margin: 20px 10px;
    font-size: 18px;    
}

.mobile-show a {
    margin: 0 auto;
}

}

@media only screen and (max-width: 1000px) {
    
        img.photo-properties {
        margin: 0 auto;
        padding: 33px;
        width: 100%;
        max-width: 250px;
}

    .text-properties {
        clear: both;
        padding: 0;
        margin: 30px auto 30px auto;   
    } 
    
}
/* works end */ 


